<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
  {% capture page_title %}
    Prototype JavaScript Framework
    {% if page.title %} | {{ page.title | strip_html }}{% endif %}
  {% endcapture %}
  
  <title>{{ page_title | strip_newlines }}</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" >
  <link rel="stylesheet" href="/stylesheets/pygments.css" type="text/css" media="screen">
</head>

{% if page.body_id %}
<body id="{{page.body_id}}">
{% else %}
<body>
{% endif %}
  <div id="wrapper">
    {% include links.html %}
    <div id="header">
      <h1><a href="/"><img src="/images/header-logo-small.png" alt="Prototype JavaScript Framework" /></a></h1>
    </div>
    <div id="navigation">
    </div>
    <div id="main">
      <div id="content">
        {% if page.title_header %}
        <h2>{{ page.title }}</h2>
        {% endif %}
        
        {{ content }}
      </div>
    </div>
    <div id="sidebar">
    </div>
    <div id="footer">
      <div class="footer-content">
        {% include footer.html %}
      </div>
    </div>
  </div> <!-- .wrapper -->
</body>
</html>
