<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Prototype API Documentation | {{ page.doc_object }} (Unsupported URL)</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><a href="/"><img src="/images/header-logo-small.png" alt="Prototype JavaScript Framework" /></a></h1>
    </div>
    <div id="navigation">
    </div>
    <div id="main">
      <div id="content">
        <p>
          You're visiting a <a href="/doc">Prototype API Documentation</a> page for 
          <code>{{ page.doc_object }}</code> that is no longer supported.
        </p>
        <p>
          Please visit the new <a href="/doc">documentation versions index page</a> and sorry for the incovenience.
        </p>
      </div>
    </div>
    <div id="sidebar">
    </div>
    <div id="footer">
      <div class="footer-content">
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>
</html>
